[Desktop Entry]
Version=1.0
Name=ElsaClipper
Comment=An evernote client to take  screenshoot and save to evernote
Type=Application
Categories=Development;IDE;
Exec=elsaclipper
Terminal=false
StartupNotify=true
Icon=/usr/share/pixmaps/elsaclipper_main_icon.png
Name[en_US]=ElsaClipper
