include *.desktop
include elsaclipper/cliper/locale/en_US/LC_MESSAGES/deepin-scrot.mo
include elsaclipper/cliper/locale/zh_CN/LC_MESSAGES/deepin-scrot.mo
include elsaclipper/cliper/locale/zh_TW/LC_MESSAGES/deepin-scrot.mo

recursive-include elsaclipper/cliper/po *.po
recursive-include elsaclipper/cliper/theme *
recursive-include elsaclipper/evernote_adapter *.glade
include elsaclipper/evernote_adapter/icon/elsaclipper_config.png
include elsaclipper/evernote_adapter/icon/elsaclipper_main_icon_error.png
include elsaclipper/evernote_adapter/icon/elsaclipper_main_icon.png
include elsaclipper/evernote_adapter/icon/elsaclipper_main_icon_upload.png
include elsaclipper/evernote_adapter/icon/elseclipper_failed_icon.png
include elsaclipper/evernote_adapter/icon/elseclipper_save_icon.png	
include elsaclipper/evernote_adapter/icon/elseclipper_alert_icon.png
recursive-include elsaclipper/evernote_adapter/icon *.png
